/*global img deadpool newGame */
body {
    background-color: lightgoldenrodyellow;
}

.headers {
    display: flex;
    justify-content: center;
}

h1 {
    display: inline;
    font-size: 50px;
    border-style: dotted;
    border-color: black;
    padding: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#gameFunctions {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#button {
    font-size: 25px;
    margin: 10px;
}

#user-input {
    font-size: 20px;
}
#letters {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#newGameSection {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#newgame {
    font-size: 15px;
}

/*#user-input {
    padding: 10px;
}


*/
#guessed-letters {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

